/* COMMON */
html {
  font-size: 16px;
  overflow: hidden;
}

/** 타블렛 가로, 노트북 */
@media (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

/** 타블렛 세로  */
@media (max-width: 820px) {
  html {
    font-size: 12px;
  }
}

/** 모바일 세로 */
@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

/* 모바일 가로모드 */
@media (orientation: landscape) and (max-height: 500px) {
  html {
    font-size: 10px;
  }
}

body {
  height: calc(var(--vh, 1vh) * 100);
  color: #333;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
  overflow: hidden;
  position: relative;
}

img {
  display: block;
}

a {
  color: #333;
  text-decoration: none;
}

.wrapper {
  width: 70%;
  max-width: 1350px;
  height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** 모바일 세로 */
@media (max-width: 480px) {
  .wrapper {
    width: 80%;
  }
}

/** 모바일 세로 */
@media (max-width: 375px) {
  .wrapper {
    height: 550px;
  }
}

/* 모바일 가로모드 */
@media (orientation: landscape) and (max-height: 500px) {
  .wrapper {
    height: 300px;
  }
}

/* main_swiper */
.main_swiper {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
}

.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-left {
  transform: translateX(90px);
}

.slide_on .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.slide_on .back-to-position.delay-0 {
  transition-delay: 0s;
}

.slide_on .back-to-position.delay-1 {
  transition-delay: .3s;
}

.slide_on .back-to-position.delay-2 {
  transition-delay: .6s;
}

.slide_on .back-to-position.delay-3 {
  transition-delay: .9s;
}

.slide_on .back-to-position.delay-4 {
  transition-delay: 1.2s;
}

.slide_on .back-to-position.delay-5 {
  transition-delay: 1.5s;
}

/* HEADER */
#header.slide_0 {
  visibility: hidden;
  opacity: 0;
}

#header {
  width: 100vw;
  height: calc(((var(--vh, 1vh) * 100) - 650px) / 2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}

/** 모바일 세로 */
@media (max-width: 375px) {
  #header {
    height: calc(((var(--vh, 1vh) * 100) - 550px) / 2);
  }
}

/* 모바일 가로모드 */
@media (orientation: landscape) and (max-height: 500px) {
  #header {
    height: calc(((var(--vh, 1vh) * 100) - 300px) / 2);
  }
}

/* 모바일 가로모드 */
@media (orientation: landscape) and (max-height: 344px) {
  #header {
    display: none;
  }
}

#header .hd_wrapper {
  width: 70%;
  max-width: 1350px;
  height: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #333;
  box-sizing: border-box;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #header .hd_wrapper {
    width: 80%;
  }
}

#header .menu .swiper-pagination-bullet {
  background: none;
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 0;
}

#header ul.menu {
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #header ul.menu {
    justify-content: space-between;
    gap: 0;
  }
}

#header ul.menu li {
  font-size: 1.5rem;
  padding: 10px 0;
}


/* SECTION */
.title {
  font-size: 3.75rem;
  height: 20%;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

/** 타블렛 가로, 노트북 */
@media (max-width: 1280px) {
  .title {
    padding: 0 30px;
  }
}

/** 모바일 세로 */
@media (max-width: 480px) {
  .title {
    height: 15%;
    padding: 0 20px;
  }
}

.cont_wrap {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  .cont_wrap {
    height: 85%;
  }
}

.cont {
  padding: 0 60px;
  margin-bottom: 20px;
}

/** 타블렛 가로, 노트북 */
@media (max-width: 1280px) {
  .cont {
    padding: 0 30px;
  }
}

/** 모바일 세로 */
@media (max-width: 480px) {
  .cont {
    padding: 0 20px;
  }
}

/** 모바일 세로 */
@media (max-width: 375px) {
  .cont {
    margin-bottom: 10px;
  }
}

/* 모바일 가로모드 */
@media (orientation: landscape) and (max-height: 500px) {
  .cont {
    margin-bottom: 5px;
  }
}

.cont_title {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.hov_cont_area .hov_cont {
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.hov_cont_area .hov_cont.show {
  opacity: 1;
  visibility: visible;
}

/* HOME */
#home .wrapper {
  border: 2px solid #333;
}

#home .home_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  padding: 0 60px;
}

/** 타블렛 가로, 노트북 */
@media (max-width: 1280px) {
  #home .home_box {
    padding: 0 30px;
  }
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #home .home_box {
    padding: 0 20px;
  }
}

#home .wrapper .home_box .home_cont .line1,
#home .wrapper .home_box .home_cont .line2 {
  display: block;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width .9s;
}

#home .wrapper.slide_on .home_box .home_cont .line1 {
  width: 60%;
}

#home .wrapper.slide_on .home_box .home_cont .line2 {
  width: 20%;
  margin-bottom: 10px;
  transition-delay: .3s;
}

#home .home_box .home_cont .en_name {
  font-size: 3.75rem;
  font-style: italic;
  font-weight: 100;
}

#home .home_box .home_cont p.bc_black {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 100;
  background-color: #333;
  color: #fff;
  display: inline-block;
}

#home .home_box .home_cont .kr_name {
  font-size: 1.875rem;
}

#home .home_box .rt_number,
#home .home_box .scroll_text {
  position: absolute;
}

#home .home_box .rt_number {
  top: 15px;
  right: 20px;
}

#home .home_box .scroll_text {
  bottom: 20px;
  right: 50px;
}

#home .home_box .scroll_text .arrow {
  position: absolute;
  animation: arrow 1s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    margin-left: 9px;
  }

  50% {
    margin-left: 11px;
  }

  100% {
    margin-left: 9px;
  }
}


/* ABOUT */
#about .cont_wrap {
  justify-content: flex-start;
}

#about .cont.mo .cont_text p {
  margin-bottom: 2px;
}

#about .cont.mo .cont_text p span.bold {
  font-weight: 500;
}

#about .cont.mo .cont_text p span.since {
  color: #aaa;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #about .cont_wrap .cont:nth-child(2) {
    display: none;
  }
}

/* 모바일 가로모드 */
@media (orientation: landscape) and (max-height: 500px) {
  #about .cont_wrap .cont:nth-child(2) {
    display: none;
  }
}

#about .cont_wrap .cont:last-child {
  margin: 0;
}

#about .cont .hov_area {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #about .cont .hov_area {
    gap: 0;
    justify-content: space-between;
  }
}

#about .cont .hov_area .hov_item {
  width: 150px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #aaa;
  background-color: #fff;
  cursor: pointer;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #about .cont .hov_area .hov_item {
    width: 48%;
  }
}

#about .cont .hov_area .hov_item img {
  width: 80%;
}

#about .cont .hov_cont_area {
  position: relative;
}

/** 타블렛 가로, 노트북 */
@media (max-width: 1280px) {
  #about .cont .hov_cont_area {
    width: 100%;
  }
}

#about .cont .hov_cont_area .hov_cont {
  position: absolute;
  top: 0;
  padding: 20px 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #about .cont .hov_cont_area .hov_cont {
    padding: 10px 15px;
  }
}

#about .cont .hov_cont_area .hov_cont .hov_title span.bold {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 10px;
}

#about .cont .hov_cont_area .hov_cont .hov_title span.since {
  font-size: 1.125rem;
  color: #aaa;
  margin-left: 10px;
}

#about .cont_link {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

#about .cont_link a {
  display: flex;
  align-items: center;
  color: #aaa;
  transition: all .3s;
}

#about .cont_link a:hover {
  color: #333;
}

#about .cont_link a:first-child::after {
  content: '';
  display: block;
  width: 1px;
  height: 1rem;
  background-color: #333;
  margin: 0 10px;
}

/* SKILLS */
/** 타블렛 가로, 노트북 */
@media (max-width: 1280px) {
  #skills .cont {
    padding: 0;
    margin: 0;
  }
}

#skills .hov_area {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #skills .hov_area {
    flex-wrap: wrap;
    gap: 20px 0;
  }
}

#skills .hov_area .hov_item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#skills .hov_area .hov_item span i {
  font-size: 4.375rem;
  color: #aaa;
  transition: all .3s;
}

#skills .hov_area .hov_item.hover span i {
  color: #333;
}

#skills .hov_area .hov_item span.adobe {
  width: 4.375rem;
  height: 4.375rem;
  margin: 0 12px;
  background-color: #aaa;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #skills .hov_area .hov_item span.adobe {
    margin: 0 5px;
  }
}

#skills .hov_area .hov_item.hover span.adobe {
  background-color: #333;
}

#skills .hov_cont_area {
  width: 100%;
  height: 140px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #skills .hov_cont_area {
    border: none;
  }
}

#skills .hov_cont_area .hov_cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #skills .hov_cont_area .hov_cont p {
    font-size: 1.5rem;
  }
}

/* PORTFOLIO */
/* md_swiper */
#portfolio .wrapper .md_swiper {
  width: calc((300px * 3) + (15px * 2));
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1400px) {
  #portfolio .wrapper .md_swiper {
    width: calc((300px * 2) + (15px * 2));
  }
}

/** 타블렛 가로, 노트북 */
@media (max-width: 1280px) {
  #portfolio .wrapper .md_swiper {
    width: calc((300px * 2) + (15px * 2));
  }
}

/** 타블렛 가로, 노트북 */
@media (max-width: 1024px) {
  #portfolio .wrapper .md_swiper {
    width: 450px;
  }
}

/** 타블렛 세로  */
@media (max-width: 820px) {
  #portfolio .wrapper .md_swiper {
    width: 350px;
  }
}

/** 모바일 세로 */
@media (max-width: 480px) {
  #portfolio .wrapper .md_swiper {
    width: 270px;
  }
}


#portfolio .wrapper .md_swiper .md_swiper_slide {
  position: relative;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

#portfolio .wrapper .md_swiper .md_swiper_slide .md_swiper_title {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio .wrapper .md_swiper .md_swiper_slide .md_swiper_title.bc_blue {
  background-color: #254E9F;
}

#portfolio .wrapper .md_swiper .md_swiper_slide .md_swiper_title img {
  width: 80%;
}

#portfolio .wrapper .md_swiper .md_swiper_slide a.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .3));
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

/* 모바일 가로모드 */
@media (orientation: landscape) and (max-height: 500px) {
  #portfolio .wrapper .md_swiper .md_swiper_slide a.more {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#portfolio .wrapper .md_swiper .md_swiper_slide a.more:hover {
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, .5));
}

#portfolio .wrapper .md_swiper .md_swiper_slide a.more i {
  font-size: 1.875rem;
  color: #333;
}

#portfolio .wrapper .md_swiper .md_swiper_slide a.view {
  position: absolute;
  bottom: 18px;
  right: 15px;
  color: #aaa;
  transition: all .2s;
}

#portfolio .wrapper .md_swiper .md_swiper_slide a.view:hover {
  color: #333;
}

#portfolio .wrapper .md_swiper .md_swiper_slide .md_swiper_text {
  height: 230px;
  background-color: #efefef;
  padding: 0 10px;
}

/* 모바일 가로모드 */
@media (orientation: landscape) and (max-height: 500px) {
  #portfolio .wrapper .md_swiper .md_swiper_slide .md_swiper_text {
    display: none;
  }
}

#portfolio .wrapper .md_swiper .md_swiper_slide .md_swiper_text p.site_name {
  font-size: 1rem;
  padding-top: 50px;
  font-weight: 600;
  color: #333;
}

#portfolio .wrapper .md_swiper .md_swiper_slide .md_swiper_text p {
  font-size: .975rem;
  color: #aaa;
}

#portfolio .wrapper .md_swiper .md_swiper_slide .type {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

#portfolio .wrapper .md_swiper .md_swiper_slide .type ul {
  display: flex;
  gap: 5px;
}

#portfolio .wrapper .md_swiper .md_swiper_slide .type ul li {
  padding: 5px 8px;
  background-color: #ddd;
  border-radius: 20px;
  font-size: .975rem;
  color: #fff;
}

#portfolio .wrapper .md_swiper .md_swiper_slide .type ul li.on {
  background-color: #333;
}

#portfolio .wrapper .md-prev,
#portfolio .wrapper .md-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.875rem;
  cursor: pointer;
}

#portfolio .wrapper .md-prev {
  left: 50px;
}

#portfolio .wrapper .md-next {
  right: 50px;
}

/** 타블렛 세로  */
@media (max-width: 1024px) {
  #portfolio .wrapper .md-prev {
    left: 10px;
  }

  #portfolio .wrapper .md-next {
    right: 10px;
  }
}

/** 모바일 세로 */
@media (max-width: 480px) {

  #portfolio .wrapper .md-prev,
  #portfolio .wrapper .md-next {
    display: none;
  }
}

.md-pagination {
  width: auto !important;
  position: absolute;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%);
}

.md-pagination .swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  transition: all .3s;
}

/** 모바일 세로 */
@media (max-width: 480px) {
  .md-pagination .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin: 0 2px !important;
  }
}

.md-pagination .swiper-pagination-bullet-active {
  width: 30px !important;
  border-radius: 10px !important;
  background: #333 !important;
}

/* pf_modal */
#portfolio .pf_modal .pf_modal_cont {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

#portfolio .pf_modal .pf_modal_cont .wrapper {
  width: 80%;
  max-width: 750px;
  max-height: 880px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

/* 모바일 가로모드 */
@media (orientation: landscape) and (max-height: 500px) {
  #portfolio .pf_modal .pf_modal_cont .wrapper {
    display: flex;
    align-items: center;
  }
}

#portfolio .pf_modal .pf_modal_cont a.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.25rem;
  z-index: 99999;
}

#portfolio .pf_modal .pf_modal_cont .wrapper .pf_modal_video video {
  width: 100%;
}

/* 모바일 가로모드 */
@media (orientation: landscape) and (max-height: 500px) {
  #portfolio .pf_modal .pf_modal_cont .wrapper .pf_modal_video {
    width: 50%;
  }
}

#portfolio .pf_modal .pf_modal_cont .wrapper .pf_modal_text {
  padding: 15px 20px;
}

#portfolio .pf_modal .pf_modal_cont .wrapper .pf_modal_text ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

#portfolio .pf_modal .pf_modal_cont .wrapper .pf_modal_text ul li {
  list-style: square;
  font-size: .975rem;
}

#portfolio .pf_modal .pf_modal_cont .wrapper .pf_modal_link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

#portfolio .pf_modal .pf_modal_cont .wrapper .pf_modal_link a {
  display: block;
  font-size: .975rem;
  color: #aaa;
  transition: all .3s;
}

#portfolio .pf_modal .pf_modal_cont .wrapper .pf_modal_link a:hover {
  color: #333;
}

#portfolio .pf_modal .pf_modal_cont .wrapper .pf_modal_link a span {
  padding-bottom: 3px;
  background-size: 0 2px;
  transition: background-size 0.5s;
}

#portfolio .pf_modal .pf_modal_cont .wrapper .pf_modal_link a:hover span {
  background-size: 100% 2px;
  background-image: linear-gradient(#333, #333);
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
}

/* CONTACT */
#contact {
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  background-size: 200% 200%;
  animation: gradientAnimation 2.5s linear infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 10% 10%;
  }

  100% {
    background-position: 90% 90%;
  }
}

#contact .contact_cont {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact .cont {
  margin: 0;
  text-align: center;
}

#contact .cont .cont_text {
  margin-top: 10px;
}

#contact .cont .cont_icon {
  margin-top: 20px;
}

#contact .cont .cont_icon a i {
  font-size: 1.875rem;
  color: #eee;
  transition: all .3s;
}

#contact .cont .cont_icon a:hover i {
  color: #333;
}